
.im{
    margin: 10px;
    width:60%
    margine
}

.p1{
    background-color: yellow;
    border:solid 17px;
    border-color: red;
    overflow: auto;
    margin: 0px 10px ;
    padding: 5pw;
    width: 20%;
    height: 200px;
}
